<app-menu></app-menu>

<div class="container">

<section class="row">
<article class="arti col-md-8 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas libero quaerat a illum ad beatae itaque nisi necessitatibus dolores architecto nesciunt, facilis tempore voluptatum voluptatem maxime doloribus assumenda magnam exercitationem?</article>
<aside class="asi col-md-4" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. At nemo voluptatem eos voluptate fugit? Itaque quas quisquam consectetur, fuga odio similique explicabo beatae, temporibus optio quam, delectus dolorum modi blanditiis?</aside>
</section>

<div class="row">
 <div class="colu1 col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, sed quis! Voluptas quibusdam dicta iusto, repellendus ratione error cum et perferendis doloribus sunt in, recusandae voluptate doloremque? Consectetur, eligendi sit!</div>
 <div class="colu2 col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, sed quis! Voluptas quibusdam dicta iusto, repellendus ratione error cum et perferendis doloribus sunt in, recusandae voluptate doloremque? Consectetur, eligendi sit!</div>
 <div class="colu3 col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, sed quis! Voluptas quibusdam dicta iusto, repellendus ratione error cum et perferendis doloribus sunt in, recusandae voluptate doloremque? Consectetur, eligendi sit!</div>
 <div class="colu4 col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, sed quis! Voluptas quibusdam dicta iusto, repellendus ratione error cum et perferendis doloribus sunt in, recusandae voluptate doloremque? Consectetur, eligendi sit!</div>
</div>


<section class="row">
    <article class="arti col-md-8 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas libero quaerat a illum ad beatae itaque nisi necessitatibus dolores architecto nesciunt, facilis tempore voluptatum voluptatem maxime doloribus assumenda magnam exercitationem?</article>
    <aside class="asi col-md-4" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. At nemo voluptatem eos voluptate fugit? Itaque quas quisquam consectetur, fuga odio similique explicabo beatae, temporibus optio quam, delectus dolorum modi blanditiis?</aside>
    </section>


</div>

<footer>
    <div class="container"><h1>footer</h1></div>

</footer>