.letrapequena{
background: white;
font-size: 1.5rem;
color: rgb(17, 17, 16);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th,td{
    text-align: left;
    padding: 16px;
}

tr:nth-child(even){
    background-color: rgb(200, 195, 230);
}

table tr:hover{
 background-color: aquamarine;    
}