<app-menu></app-menu>

<div class="container">
<section class="row">

<article class="col-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. A molestias veniam ratione! Optio, voluptates ullam consequatur assumenda deleniti eligendi iusto dolorem magnam dignissimos mollitia voluptatum recusandae praesentium incidunt nemo officiis.</article>

<aside class="col-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam officia, expedita, iure in est ex porro ratione minima adipisci fugit praesentium deserunt ipsa, placeat veniam voluptate modi natus commodi officiis!</aside>

</section>

<div class="row">
<div class="columna1 col-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse sequi numquam non quisquam pariatur sint repellat est, delectus vero saepe suscipit impedit itaque doloremque deserunt nisi maiores minima, dolore eius.</div>
<div class="columna2 col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora minus veritatis iure perspiciatis, distinctio aspernatur! Qui, vitae dolorem. Sint molestias dolorem cupiditate iure, rem fuga veniam alias ullam temporibus commodi?</div>
<div class="columna3 col-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime quos blanditiis ex beatae adipisci et aspernatur, ratione sunt esse quia, neque repellendus sit corrupti minima cum consequatur saepe, totam ad.</div>
<div class="columna4 col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsa perferendis voluptatum molestiae eius harum corrupti, voluptas accusantium! Dolores deleniti eius eaque nihil vel omnis accusamus. Quam eaque libero ipsa.</div>
</div>

<section class="row">

    <article class="col-8 col-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae pariatur mollitia impedit provident, amet quia quasi vero inventore numquam repellendus magnam voluptatibus minus possimus dolores rerum quam architecto. Sequi, deserunt?</article>
    
    <aside class="col-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam officia, expedita, iure in est ex porro ratione minima adipisci fugit praesentium deserunt ipsa, placeat veniam voluptate modi natus commodi officiis!</aside>
    
    </section>

    <div class="row">
        <div class="columna1 col-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse sequi numquam non quisquam pariatur sint repellat est, delectus vero saepe suscipit impedit itaque doloremque deserunt nisi maiores minima, dolore eius.</div>
        <div class="columna2 col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora minus veritatis iure perspiciatis, distinctio aspernatur! Qui, vitae dolorem. Sint molestias dolorem cupiditate iure, rem fuga veniam alias ullam temporibus commodi?</div>
        <div class="columna3 col-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime quos blanditiis ex beatae adipisci et aspernatur, ratione sunt esse quia, neque repellendus sit corrupti minima cum consequatur saepe, totam ad.</div>
        <div class="columna4 col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsa perferendis voluptatum molestiae eius harum corrupti, voluptas accusantium! Dolores deleniti eius eaque nihil vel omnis accusamus. Quam eaque libero ipsa.</div>
        </div>
        
<footer>Pie de pagina</footer>
</div>